@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*,
*::before,
*::after {
    box-sizing: border-box;
    outline: 2px solid lime;
}*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
:root{
    --fs-250: clamp(8px, calc(2px + 0.88vw), 76px);
    --fs-300: clamp(9px, calc(2px + 0.9vw), 76px);
    --fs-350: clamp(9px, calc(2px + 1vw), 76px);
    --fs-400: clamp(11px, calc(2px + 1.1vw), 76px);
    --fs-500: clamp(9px, calc(3px + 1.6vw), 85px);
    --fs-700: clamp(22px, calc(2px + 3vw), 130px);
}
html, body{
    font-family: "Red Hat Text";
    font-weight: 400;   
    color: hsl(14, 65%, 9%);  
    background-color: hsl(20, 50%, 98%);
}
.main-heading{
    font-weight: 700;      
    font-size: var(--fs-700);
    padding-bottom: 1.3vw;     
}
p{
    margin-bottom: 0px;
}
.img-conatiner{
    position: relative;
}
.dessert-img{
    position: relative;
    border-radius: calc(10px + 1vw);
    border: 4px solid hsl(20, 50%, 98%);
}
.add-cart-container{
    position: absolute;
    bottom: -6%;
    width: 68%;
    left: 50%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    transform: translateX(-50%);
}
.add-to-cart{
    background: hsl(20, 50%, 98%);
    border: 0.7px solid hsl(14, 65%, 9%);
    border-radius: 50vw;
    width: 100%;
    padding-block: 6%;
    padding-inline: 6%;
    color: hsl(14, 65%, 9%);      
    font-size: var(--fs-300);
    font-weight: 600;
}
.add-to-cart:hover{
    color: hsl(14, 86%, 42%);
    border-color: hsl(14, 86%, 42%);    
}
#cartContent{
    color: hsl(12, 20%, 44%);    
    font-weight: 600;
    font-size: var(--fs-250);    
}
.item-tag{
    position: relative;
    padding-left: 4px;
}
.price{
    color: hsl(14, 86%, 42%);
    margin-bottom: 8%;
    font-weight: 600;      
    font-size: var(--fs-350);
}
.short-title{
    color: hsl(7, 20%, 60%);
    margin-top: calc(15px + 1vw);
    font-size: var(--fs-350);
}
.cart-heading{
    color: hsl(14, 86%, 42%);
    font-weight: 700;      
    font-size: var(--fs-500);
}
.cart-section{
    background: white;
    border-radius: calc(5px + 1vw);
    padding: calc(10px + 1vw);
}
.empty-cart-img{
    width: 50%;
}
.add-to-cart-selected{
    position: relative;      
    font-size: var(--fs-400);
    width: 100%;
    height: 100%;
}
.selected{
    display: flex !important;
    justify-content: center;
    background: hsl(14, 86%, 42%);
    border-radius: 50vw;
    width: 160px;
    padding-block: 6%;
    width: 100%;
}
.increaseBtn, .decreaseBtn{
    position: absolute;
    border: 2px solid hsl(20, 50%, 98%);
    border-radius: 50%;
    top: 50%;
    width: calc(3px + 1.25vw);
    height: calc(3px + 1.25vw);
    background-color: hsl(14, 86%, 42%);
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
}
.decreaseBtn{
    left: 10%;
    background-image: url(assets/images/icon-decrement-quantity.svg);
}
.decreaseBtn:active{
    background-image: url(assets/images/icon-decrement-quantity-red.svg);
    background-color: hsl(20, 50%, 98%);
}
.increaseBtn{
    right: 10%;  
    background-image: url(assets/images/icon-increment-quantity-rose-50.svg);
}
.increaseBtn:active{
    background-image: url(assets/images/icon-increment-quantity-red.svg);
    background-color: hsl(20, 50%, 98%);
}

.itemCount{
    color: hsl(20, 50%, 98%);
}
.title{
    font-weight: 700;
    color: hsl(14, 65%, 9%);
    font-size: var(--fs-350);
}
.brd{
    border: 4px solid hsl(14, 86%, 42%);
}
.cart-list{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: var(--fs-300);
    font-weight: 600;
}
.cart-list-item {
    position: relative;
    display: flex;
    padding-block: 10px;
}
.totalBox{      
    padding-inline: 20px;
    padding-top: 3.6vw;
    margin-bottom: 3.1vw;
    position: relative;
}
.orderTotal{
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: var(--fs-400);
}
.grandTotalAmount{
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-weight: 700;
    font-size: var(--fs-500);
}
.removeBtn-container{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%) scale(0.7);
}
.itemTotal-container{
    position: absolute;
    right: 0px;   
    top: 50%;
    transform: translateY(-50%);
}
.removeBtn{
    position: relative;
    border: 1.5px solid hsl(7, 20%, 60%);
    border-radius: 100vw;
    width: calc(1px + 2.2vw);
    aspect-ratio: 1 !important;
    background: hsl(20, 50%, 98%);
    padding: 0px;
    margin: 0px;
    background-image: url(assets/images/icon-remove-item.svg);  
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;      
}
.removeBtn:hover{
    border-color: hsl(14, 65%, 9%);     
    background-image: url(assets/images/icon-remove-item-dark.svg); 
}
.confirmBtn, .startNewOrderBtn{
    border: 0px none;
    border-radius: 50vw;
    width: 100%;
    padding-block: 3.5%;
    background: rgb(199, 58, 15);
    color: hsl(20, 50%, 98%);
    font-size: var(--fs-400);
    transition: 0.3s ease-in-out;
}
.confirmBtn:hover, .startNewOrderBtn:hover{
    background: hsl(14, 85%, 32%) !important;
    color: hsl(24, 45%, 98%) !important;
}
.carbon-neutral-container{
    background: hsl(20, 50%, 98%);
    border-radius: 0.5vw;
    padding-block: 3%;
    font-size: var(--fs-250);
    margin-block: 6%;
}
.carbon-neutral-img{
    width: 2.3vw;
    padding-right: 0.55vw;
}
.carbon-neutral-bold{
    font-weight: 600;
}
.startNewOrderBtn{
    padding-block: 2.5%;
}
.modal-header{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.cart-item{
    align-items: start;
    justify-content: center;
}
.cart-thumbnail-img{
    width: 4.5vw;
    border-radius: 0.5vw;
}
.cart-thumbnail-container{
    width: fit-content;
    padding-right: 1.5vw;
}
.dessertsImgBox{
    position: relative;
}
.add-to-cart-img{
    width: 1.3vw;
    margin-right: 0.25vw;   
}
.container-fluid{
    padding-block: 6vw;
    padding-inline: 8vw;
}
.removeBtnImg{
    position: absolute;
    width: 18px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.item-qty{
    color: hsl(14, 86%, 42%);
    font-weight: 600;
    padding-right: 1vw;
}
.rate{      
    padding-right: 1vw;  
    font-weight: 400;
    color: hsl(7, 20%, 60%)   
}
.total-amount{
    color: hsl(12, 20%, 44%);
}
.modularTotalBox{
    margin-top: 0%;
    margin-bottom: 0px;
}
.cart-list-item-name{
    padding-bottom: 2%;
}
.modal-body{
    background: hsl(20, 50%, 98%);
}
hr{
    border: 0.5px solid hsl(14, 25%, 72%);
    width: 100%;
}
.modal-total-amount{
    color: hsl(14, 65%, 9%);
    font-size: var(--fs-400);
}
@media (max-width: 768px){
    :root{
        --fs-200: clamp(8px, calc(2px + 2.1vw), 76px);
        --fs-250: clamp(8px, calc(2px + 2.1vw), 76px);
        --fs-300: clamp(9px, calc(2px + 2.3vw), 76px); 
        --fs-350: clamp(9px, calc(2px + 2.1vw), 76px); 
        --fs-400: clamp(11px, calc(2px + 2.1vw), 76px); 
        --fs-450: clamp(11px, calc(2px + 2.5vw), 76px);
        --fs-500: clamp(9px, calc(3px + 4vw), 85px); 
        --fs-700: clamp(22px, calc(2px + 7vw), 130px); 
    }
    
    .container-fluid{
        padding-block: 5vw !important;
        padding-inline: 5vw !important;
    }
    
    .add-cart-container{
        bottom: -7.5%;
        width: 50%;
    }
    .add-to-cart{    
        font-size: var(--fs-200);
        padding-top: 4.5%;        
        padding-bottom: 5.5%;
        padding-inline: 4.5%;  
    }
    .add-to-cart-img{
        width: 2.8vw;
        margin-right: 0.25vw;   
    }
    .increaseBtn, .decreaseBtn{
        width: calc(3px + 2.7vw);
        height: calc(3px + 2.7vw);
    }
    .empty-cart-img{
        margin-top: 10%;
        width: 33%;
    }
    .cart-section{
        margin-top: 5%;
        padding: 6%;        
        padding-block: 7%;
    }
    .removeBtn{
        width: calc(3px + 4.5vw);
        aspect-ratio: 1 !important;
    }
    hr{
        margin-block: 1vw;
    }
    .totalBox{
        margin-top: 6%;
    }
    .orderTotal{
        font-size: var(--fs-300);
    }
    .grandTotalAmount{
        bottom: -25%;
    }
    .carbon-neutral-container{
        border-radius: 1vw;
        padding-block: 2.5%;
        margin-block: 4.5%;
    }
    .confirmBtn{
        padding-block: 3%;
        font-size: var(--fs-450);
    }
    .modularTotalBox{
        margin-top: 3.8%;
        margin-bottom: 0px;
    }
    .cart-thumbnail-img{
        width: 8vw;
        border-radius: 0.8vw;
    }
    .item-qty{
        padding-right: 1.5vw;
    }
    .rate{      
        padding-right: 1.5vw;    
    }
    }
}

@media (max-width: 576px){
    :root{
        --fs-100: clamp(7px, calc(2px + 2.8vw), 76px);
        --fs-150: clamp(7px, calc(2px + 3vw), 76px);
        --fs-200: clamp(7px, calc(2px + 3.5vw), 76px);
        --fs-250: clamp(7px, calc(2px + 3.5vw), 76px);
        --fs-350: clamp(7px, calc(2px + 3.5vw), 76px);
        --fs-400: clamp(7px, calc(2px + 3.5vw), 76px); 
        --fs-450: clamp(10px, calc(2px + 4.3vw), 76px);
        --fs-500: clamp(9px, calc(3px + 6.5vw), 85px); 
        --fs-700: clamp(22px, calc(2px + 8.5vw), 130px); 
    }
    .add-cart-container{
        bottom: -6%;
        width: 40%;
    }
    .add-to-cart{    
        padding-block: 4.5%;
        padding-inline: 4.5%;  
    }
    .add-to-cart-img{
        width: 4.3vw;
        margin-right: 0.25vw;   
    }
    .increaseBtn, .decreaseBtn{
        width: calc(3px + 4vw);
        height: calc(3px + 4vw);
    }
    .orderTotal{
        font-size: var(--fs-200);
    }
    .removeBtn{
        width: calc(3px + 7.5vw);
    }
    .carbon-neutral-container{
        font-size: var(--fs-100);
    }
    .confirmBtn{
        font-size: var(--fs-150);
    }
    .cart-list{
        font-size: var(--fs-150);
    }
    hr{
        margin-block: 0.5vw;
    }
    .totalBox{
        margin-top: 9%;
    }
    .item-qty{
        padding-right: 2vw;
    }
    .rate{      
        padding-right: 2vw;    
    }
    .cart-thumbnail-img{
        width: 11vw;
        border-radius: 0.8vw;
    }
    .modal-item-qty{
        padding-right: 4vw;
    }
}
@media (max-width: 273px){
    .increaseBtn, .decreaseBtn{
        width: calc(3px + 4vw) !important;
        height: calc(3px + 4.5vw) !important;
        border: 1.5px solid hsl(20, 50%, 98%);
        border-radius: 100%;
    }
}
@media (max-width: 238px){
    .increaseBtn, .decreaseBtn{
        width: calc(4vw) !important;
        height: calc(6.2vw) !important;        
    }
}